[Unit]
Description=ROS2 device driver container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -e LAUNCH_FILE=b1_side_right.launch.py --network host -v /dev/shm:/dev/shm --privileged openvins:latest
ExecStop=/usr/bin/docker stop -t 2 openvins:latest

[Install]
WantedBy=default.target
