[Unit]
Description=ROS2 device driver container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker rm -f highlevel || true
ExecStart=/bin/bash -c '/usr/bin/docker rm -f highlevel || true; /usr/bin/docker run --name highlevel --network host -v /dev/shm:/dev/shm --privileged jetson:highlevel'
ExecStop=/usr/bin/docker stop -t 2 highlevel

[Install]
WantedBy=default.target