[Unit]
Description=ROS2 device driver container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --network host --privileged jetson:23
ExecStop=/usr/bin/docker stop -t 2 jetson:23

[Install]
WantedBy=default.target