[Unit]
Description=ROS2 device driver container
Requires=docker.service
After=docker.service docker-hw-bridge-24.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker rm -f openvins_left || true
ExecStart=/bin/sh -c '/usr/bin/docker rm -f openvins_left || true; /usr/bin/docker run --name openvins_left -e LAUNCH_FILE=b1_side_left.launch.py -v /dev/shm:/dev/shm --network host --privileged robocaster/openvins:latest'
ExecStop=/usr/bin/docker stop -t 2 openvins_left

[Install]
WantedBy=default.target
