[Unit]
Description=ROS2 device driver container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker rm -f jetson25_hw || true
ExecStart=/usr/bin/docker run --name jetson25_hw --network host -v /dev/shm:/dev/shm --privileged jetson:25
ExecStop=/usr/bin/docker stop -t 2 jetson25_hw

[Install]
WantedBy=default.target